<head>
<script src='js/jquery-1.4.2.min.js'></script>
<script src='js/jquery-ui-1.8.6.custom.min.js'></script>
<link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8.6.custom.css">
</head>
<style>
#toolbar, #toolbar * {
	font-size : 10px;
}
.componente {
	position : absolute;
	border   : 2px solid red;
	width    : 200px;
	// height   : 50px;
	overflow : hidden;
}
.componente.selected {
	outline  : 2px dashed gray;
}
#content {
	position : relative;
	width    : 1000px;
	height   : 500px;
	border   : 1px solid black;
	box-shadow : 5px 5px 5px black;
	-moz-box-shadow : 5px 5px 5px black;
	-webkit-box-shadow : 5px 5px 5px black;
}
#outputzpl {
	position : fixed;
	right    : 10px;
	top      : 10px;
	width    : 300px;
	height   : 400px;
}
</style>
<script> 
$(document).ready(function() {
	configureComponent( $(".componente") );
});
function configureComponent(el) {
	el
	.resizable()
	.draggable({ 
		containment: "parent" 
	})
	.mousedown(function(){
		$(".selected").toggleClass("selected",false);
		$(this).toggleClass("selected");
		$("#edtw").val(parseInt($(this).css("width")));
		$("#edth").val(parseInt($(this).css("height")));
		$("#edtx").val(parseInt($(this).css("left")));
		$("#edty").val(parseInt($(this).css("top")));
	});
}
function newComponent() {
	var lComponente = $("<div class=\"componente\"><span class=\"texto\"></span></div>").appendTo("#content");
	configureComponent(lComponente);
	return lComponente;
}
function newTextComponent() { 
	var ltext = prompt("Digite o texto","");
	if (!ltext || ltext=="") return;
	var lComponente = newComponent();
	lComponente.addClass("texto").children(".texto").text(ltext);
} 
function newBarcodeComponent() { 
	var lComponente = newComponent();
	lComponente.addClass("barra").children(".texto").text("||||||||||||");
}
function delComponent() {
	$(".selected").remove();
}
function changeFontsize() { 
	var lFs = $("#edtfontsize").val();
	$(".selected .texto").css("font-size",lFs+"px");
} 
function changeSize() { 
	var lW = $("#edtw").val();
	var lH = $("#edth").val();
	var lX = $("#edtx").val();
	var lY = $("#edty").val();
	$(".selected")
		.css("left",lX)
		.css("top",lY)
		.css("width",lW)
		.css("height",lH);
}
function genZpl() {
	var lnewval    = "";
	$(".componente").each(function(i,el){
		var lX = parseInt( $(el).css('left') );
		var lY = parseInt( $(el).css('top') );
		var lH    = parseInt( $(el).css('height') );
		var lFs   = parseInt( $(el).css('font-size') );
		var ltext = $(el).text();
		if ($(el).hasClass("texto")) {
			lnewval += "^FO"+lX+","+lY+"^ADI,36,^FD"+ltext+"^FS\n";
		} else if ($(el).hasClass("barra")) {
			lnewval += "^FO"+lX+","+lY+"^B3N,N,"+lH+",N,N^FD{$nro_acesso_string}^FS\n";
		}
		
	});
	$("#outputzpl").val(lnewval);
}
</script>
<body>
<div id="toolbar">
<input value="New Text" onclick="newTextComponent()" type="button"/>
<input value="New Barcode" onclick="newBarcodeComponent()" type="button"/>
<input value="Delete" onclick="delComponent()" type="button">
FontSize:<input id="edtfontsize"value="16"  size="2" type="number" /><input type="button" value="Apply" onclick="changeFontsize()"/>
 | Width:<input id="edtw" size="3" type="number" />
Height:<input id="edth" size="3" type="number" />
X:<input id="edtx" size="3" type="number" />
Y:<input id="edty" size="3" type="number" />
<input type="button" value="Apply" onclick="changeSize()"/>
<input value="Gen ZPL" onclick="genZpl()" type="button" />
</div>
<div id="content">
</div>
<textarea id="outputzpl">
</textarea>
</body>